<body>

    <!-- Imagen de Pantalla Principal -->
    
    <div class="imagen">
        <div class="imagen-opacidad"></div>
    </div>

    <!-- Formulario -->

    <form action="">
        <h1>Agregar Vehículo</h1>

        <div class="form-opcion">
            <label>ID</label>
                <input type="number" placeholder="ID de usuario" required>
        </div>

        <div class="form-opcion">
            <label>Marca</label>
                <input type="text" placeholder="Marca del vehículo" required>
        </div>

        <div class="form-opcion">
            <label>Modelo</label>
                <input type="text" placeholder="Modelo del vehículo" required>
        </div>

        <div class="form-opcion">
            <label>Año</label>
                <input type="text" placeholder="Año del vehículo" required>
        </div>

        <div class="form-opcion">
            <label>Transmisión</label>
                <select required>
                    <option value="">Transmisión del vehículo</option>
                    <option value="manual">Manual</option>
                    <option value="automatico">Automático</option>
                </select>
        </div>

        <div class="form-opcion">
            <label>Tipo de vehículo</label>
                <select required>
                    <option value="">Elija el tipo de vehículo</option>
                    <option value="sedan">Sedan</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="deportivos">Deportivos</option>
                </select>
        </div>

        <div class="form-opcion">
            <label>Precio</label>
                <input type="number" placeholder="Precio de alquiler del vehículo" required>
        </div>

        <div class="form-opcion">
            <label>Tarjeta de circulación</label>
                <input type="text" placeholder="Tarjeta de circulación del vehículo" required>
        </div>

        <textarea></textarea>

        <input type="submit" value="Agregar" id="btn">
    </form>
</body>