<app-navbar></app-navbar>
<main>
    <div class="imagen">                        <!-- Imagen página principal -->     
        <div class="imagen-opacidad"></div>
    </div>

    <form action="">                            <!-- Formulario -->                                          
        <h1>Agregar</h1>

        <div class="form-opcion">
            <label>ID</label>
                <input type="number" required>
        </div>

        <div class="form-opcion">
            <label>Marca</label>
                <input [(ngModel)]="car.marca" type="text" required name="marca">
        </div>

        <div class="form-opcion">
            <label>Modelo</label>
                <input [(ngModel)]="car.modelo" type="text" required name="modelo">
        </div>

        <div class="form-opcion">
            <label>Año</label>
                <input [(ngModel)]="car.anio" type="text" required name="anio">
        </div>

        <div class="form-opcion">
            <label>Transmisión</label>
                <select [(ngModel)]="car.transmision" required name="transmision">
                    <option value=""></option>
                    <option value="Manual">Manual</option>
                    <option value="Automatico">Automático</option>
                </select>
        </div>

        <div class="form-opcion">
            <label>Tipo de vehículo</label>
                <select [(ngModel)]="car.tipoDeVehiculo" required name="tipoDeVehiculo">
                    <option value=""></option>
                    <option value="sedan">Sedan</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="deportivos">Deportivos</option>
                </select>
        </div>

        <div class="form-opcion">
            <label>Precio</label>
                <input [(ngModel)]="car.precio" type="number" required name="precio">
        </div>

        <div class="form-opcion">
            <label>Tarjeta de circulación</label>
                <input [(ngModel)]="car.tarjetaDeCirculacion" type="text" required name="tarjetaDeCirculacion">
        </div>

        <textarea></textarea>

        <input type="submit" value="Agregar" id="btn" (click)="registerCar()">
    </form>
</main>
