<body>
    <div class="contenedor">
        <div class="imagen">
            <img src="../../../assets/imglistcars.jpg">
        </div>
        <div class="contenido">
            <h2>Modelo</h2>
            
            <div class="contenido-opcion">
                <i class="bi bi-caret-right-fill"></i>
                <h3>Marca:</h3>
            </div>
    
            <div class="contenido-opcion">
                <i class="bi bi-calendar-check-fill"></i>
                <h3>Año:</h3>
            </div>
    
            <div class="contenido-opcion">
                <i class="bi bi-caret-right-fill"></i>
                <h3>Tipo de vehículo:</h3>
            </div>
    
            <div class="contenido-opcion">
                <i class="bi bi-caret-right-fill"></i>
                <h3>Transmisión:</h3>
            </div>
    
            <div class="contenido-opcion">
                <i class="bi bi-caret-right-fill"></i>
                <h3>Tarjeta de circulación:</h3>
            </div>
    
            <div class="contenido-opcion">
                <i class="bi bi-cash"></i>
                <h3>Precio:</h3>
            </div>
    
            <button>Rentar</button>
        </div>
    </div>
</body>
