<app-navbar></app-navbar>
<main>
    <div class="imagen">                        <!-- Imagen página principal -->     
        <div class="imagen-opacidad"></div>
    </div>

    <form action="">                            <!-- Formulario -->                                          
        <h1>Reservación del</h1>

        <div class="form-opciones">
            <div class="form-opcion">
                <label>ID del vehículo</label>
                    <input [(ngModel)]="car._id" type="text" required readonly name="_id" readonly>
            </div>

            <div class="form-opcion">
                <label>DPI</label>
                    <input [(ngModel)]="user.dpi" type="text" required name="dpi" readonly>
            </div>

            <div class="form-opcion">
                <label>Fecha de alquiler</label>
                    <input [(ngModel)]="reservation.Fecha_Alquiler" type="date" required name="Fecha_Alquiler">
            </div>

            <div class="form-opcion">
                <label>Fecha de retorno</label>
                    <input [(ngModel)]="reservation.Fecha_retorno" type="date" required name="Fecha_retorno">
            </div>

            <div class="form-opcion">
                <label>Monto total</label>
                    <input type="number" required name="Monto_Apagar">
            </div>
        </div>

       <input type="submit" value="Reservar" class="boton" (click)="onSubmit()">
    </form>
</main> 