<main>
    <div class="imagen">                        <!-- Imagen página principal -->     
        <div class="imagen-opacidad"></div>
    </div>

    <form action="">                            <!-- Formulario -->                                          
        <h1>Reservación del</h1>

        <div class="form-opciones">
            <div class="form-opcion">
                <label>ID del vehículo</label>
                    <input type="number" required readonly>
            </div>

            <div class="form-opcion">
                <label>DPI</label>
                    <input type="number" required>
            </div>

            <div class="form-opcion">
                <label>Fecha de alquiler</label>
                    <input type="date" required>
            </div>

            <div class="form-opcion">
                <label>Fecha de retorno</label>
                    <input type="date" required>
            </div>

            <div class="form-opcion">
                <label>Monto total</label>
                    <input type="number" required>
            </div>
        </div>

       <input type="submit" value="Reservar" class="boton">
    </form>
</main> 