<main>
    <form action="">                            <!-- Formulario -->                                          
        <h1>Información del</h1>

        <div class="form-opciones">
            <div class="form-opcion">
                <label>Nombre</label>
                    <input [(ngModel)]="user.nombre" type="text" required name="nombre">
            </div>

            <div class="form-opcion">
                <label>Apellido</label>
                    <input [(ngModel)]="user.apellido" type="text" required name="apellido">
            </div>

            <div class="form-opcion">
                <label>Usuario</label>
                    <input [(ngModel)]="user.usuario" type="text" required name="usuario">
            </div>

            <div class="form-opcion">
                <label>Correo</label>
                    <input [(ngModel)]="user.correo" type="email" required name="correo">
            </div>

            <div class="form-opcion">
                <label>Contraseña</label>
                    <input [(ngModel)]="user.password" type="password" required name="password">
            </div>

            <div class="form-opcion">
                <label>CUI</label>
                    <input [(ngModel)]="user.dpi" type="number" required name="dpi">
            </div>

            <div class="form-opcion">
                <label>Telefono</label>
                    <input [(ngModel)]="user.telefono" type="tel" required name="telefono">
            </div>

            <div class="form-opcion">
                <label>Sexo</label>
                    <select [(ngModel)]="user.sexo" required name="sexo">
                        <option value=""></option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                    </select>
            </div>

            <div class="form-opcion">
                <label>Fecha Nacimiento</label>
                    <input [(ngModel)]="user.fechaDeNacimiento" type="date" required name="fechaDeNacimiento">
            </div>
        </div>


            <div class="botones">
                <input type="submit" value="Modificar" class="boton" id="btn_M" (click)="updateUser()">
                <input type="submit" value="Eliminar"  class="boton" id="btn_E">
            </div>
       
    </form>

    <div class="imagen">                        <!-- Imagen página principal -->     
        <div class="imagen-opacidad"></div>
    </div>
</main>