<section id="home">
    <div class="imagen">                            
        <div class="imagen-opacidad"></div>
    </div>
    <div class="contenido">
        <h1>ALI RENTAL</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet earum aut, 
            quisquam iure consectetur totam sit saepe quis quod sunt adipisci modi molestiae, tenetur 
            repudiandae. Est architecto aspernatur a?
        </p>
        <button>Ver más</button>
    </div>
</section>

<h1 style="text-align: center; margin-bottom: -70px; margin-top: 50px;">Publicaciones</h1>
<section id="listar">
    
    <div class="contenedor" *ngFor="let car of cars" >
        <div class="imagen">
            <img src="../../../assets/imgcarh.jpg">
        </div>
        <div class="contenido">
            <h2>Modelo: {{car.modelo}}</h2>
            
            <div class="contenido-opcion">
                <i class="bi bi-caret-right-fill"></i>
                <h3>Marca:{{car.marca}}</h3>
            </div>

            <div class="contenido-opcion">
                <i class="bi bi-calendar-check-fill"></i>
                <h3>Año:{{car.anio}}</h3>
            </div>

            <div class="contenido-opcion">
                <i class="bi bi-caret-right-fill"></i>
                <h3>Tipo de vehículo: {{car.tipoDeVehiculo}}</h3>
            </div>

            <div class="contenido-opcion">
                <i class="bi bi-caret-right-fill"></i>
                <h3>Transmisión: {{car.transmision}}</h3>
            </div>

            <div class="contenido-opcion">
                <i class="bi bi-caret-right-fill"></i>
                <h3>Tarjeta de circulación: {{car.tarjetaDeCirculacion}}</h3>
            </div>

            <div class="contenido-opcion">
                <i class="bi bi-cash"></i>
                <h3>Precio: {{car.precio}}</h3>
            </div>

            <div class="contenedor-boton">
                <button (click)="onSubmit()">Rentar</button>
            </div>
        </div>
    </div>

    <!-- 2 -->
    

</section>
<section id="acercade">
    <h2>ACERCA DE</h2>
    <div class="contenedor">
    <div class="contenido"> 
        <h2>SEGURIDAD</h2>
        <p>Nuestro VPN seguro envía tu tráfico de Internet a través de un túnel VPN cifrado, 
        por lo que tus contraseñas y datos confidenciales permanecen seguros, incluso en conexiones 
        públicas o no confiables.</p>
    </div>
    <div class="contenido">
        <h2>PRIVACIDAD</h2>
        <p>
            Mantén tu historial de navegación privado. Como proveedor de VPN suizo, no registramos la actividad 
            del usuario ni compartimos datos con terceros. Nuestro servicio VPN anónimo
             permite Internet sin vigilancia.
        </p>
    </div>
    <div class="contenido">
        <h2>LIBERTAD</h2>
        <p>Creamos ProtonVPN para proteger a los periodistas y activistas que utilizan ProtonMail. ProtonVPN 
        rompe las barreras de la censura de Internet, permitiéndote acceder a cualquier sitio web o contenido</p>
    </div>
    </div>
</section>