<app-navbar></app-navbar>
<main>
    <form action="">                            <!-- Formulario -->                                          
        <h1>Información del</h1>

        <div class="form-opciones">
            <div class="form-opcion">
                <label>ID</label>
                    <input type="number" required readonly>
            </div>

            <div class="form-opcion">
                <label>Marca</label>
                    <input type="text" required readonly>
            </div>

            <div class="form-opcion">
                <label>Modelo</label>
                    <input type="text" required readonly>
            </div>

            <div class="form-opcion">
                <label>Año</label>
                    <input type="text" required readonly>
            </div>

            <div class="form-opcion">
                <label>Transmisión</label>
                    <select required disabled>
                        <option value=""></option>
                        <option value="manual">Manual</option>
                        <option value="automatico">Automático</option>
                    </select>
            </div>

            <div class="form-opcion">
                <label>Tipo de vehículo</label>
                    <select required disabled>
                        <option value=""></option>
                        <option value="sedan">Sedan</option>
                        <option value="hatchback">Hatchback</option>
                        <option value="deportivos">Deportivos</option>
                    </select>
            </div>

            <div class="form-opcion">
                <label>Precio</label>
                    <input type="number" required readonly>
            </div>

            <div class="form-opcion">
                <label>Tarjeta de circulación</label>
                    <input type="text" required readonly>
            </div>
        </div>

        <div class="form-contenedor">
            <textarea></textarea>

            <div class="botones">
                <input type="submit" value="Modificar" class="boton" id="btn_M">
                <input type="submit" value="Eliminar"  class="boton" id="btn_E">
            </div>
        </div>
    </form>

    <div class="imagen">                        <!-- Imagen página principal -->     
        <div class="imagen-opacidad"></div>
    </div>
</main>
